<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.todo.mybatis.mapper.MergedTaskMapper">
    <resultMap id="BaseResultMap" type="com.example.todo.entity.MergedTask">
        <id column="id"  property="id" />
        <result column="user_id"  property="user_id" />
        <result column="type_id"  property="type_id" />
        <result column="title"  property="title" />
        <result column="detail"  property="detail" />
        <result column="deadline"  property="deadline" />
        <collection property="taskType" ofType="com.example.todo.entity.TaskType">
            <id column="id" property="id" />
            <result column="type" property="type" />
            <result column="comment" property="comment" />
        </collection>
    </resultMap>
    <select id="selectAll"  resultMap="BaseResultMap">
        select
         task.id
         ,user_id
         ,task.type_id
         ,task_type.id
         ,type
         ,comment
         ,title
         ,detail
         ,deadline
        from task inner join task_type
        on task.type_id = task_type.id;
    </select>
    <insert id="insert" >
        insert into task
        (
          user_id
         ,type_id
         ,title
         ,detail
         ,deadline
        )
        values
        (
         #(user_id)
        ,#(type_id)
        ,#(title)
        ,#(detail)
        ,#(deadline)
        )
    </insert>
</mapper>